* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, h2 {
  text-decoration: none;
  color: #fff;
}

/* Navbar */
.navbar-pusat {
  background-color: #252525;
  z-index: 2;
  position: relative;
}

.navbar-pusat .navbar-nav .nav-link {
  color: #fff;
  font-size: large;
  padding: 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.navbar-logo h1 {
  font-family: 'Playfair Display', serif;
  padding-left: 20px;
  color: #fff;
}

/* Tutup Navbar */
/* Banner */
#carouselExampleIndicators {
  position: relative;
  height: 100vh;
  width: 100%;
}

#carouselExampleIndicators .carousel-inner {
  position: relative;
  height: 100%;
  width: 100%;
  background: #000;
}

#carouselExampleIndicators .carousel-inner::after {
  position: absolute;
  content: '';
  background: rgba(0, 0, 0, 0.45);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#carouselExampleIndicators .carousel-inner .carousel-item {
  position: relative;
  height: 100%;
  width: 100%;
  background: url("../img/Banercrop1.png");
  background-size: cover;
  background-attachment: fixed;
}

#carouselExampleIndicators .carousel-inner .carousel-item .carousel-caption {
  top: 34%;
  color: #fff;
  position: absolute;
  z-index: 2;
  font-family: 'Playfair Display', serif;
}

#carouselExampleIndicators .carousel-inner .carousel-item .carousel-caption .btn-business {
  margin-top: 50px;
  padding: 10px 15px;
  border-radius: 15px;
  background-color: transparent;
  border-color: #fff;
}

#carouselExampleIndicators .carousel-inner .carousel-item .carousel-caption .btn-business:hover {
  background-color: #252525;
  border: none;
}

#carouselExampleIndicators .carousel-inner .carousel-item .carousel-caption h1 {
  margin-top: 50px;
  font-size: larger;
}

#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(2) {
  position: relative;
  background: url("../img/Banner1.jpg");
  background-size: 100% 100%;
  background-size: cover;
  background-attachment: fixed;
}

#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(2) .carousel-caption2 {
  margin-left: 12%;
  color: #fff;
  top: 34%;
  text-align: left;
  position: relative;
  z-index: 2;
}

#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(2) .carousel-caption2 h3 {
  font-size: 30px;
  margin-bottom: 40px;
}

#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(2) .carousel-caption2 h2 {
  font-size: 55px;
}

#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(3) {
  background: url("../img/Home2.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
}

/*First Content */
.first-content {
  height: 650px;
  position: relative;
  z-index: 1;
}

.first-content .caption {
  margin: auto;
  width: 100%;
  font-size: 25px;
  font-family: 'Playfair Display', serif;
  color: #252525;
  text-align: center;
  margin-top: 10%;
}

.first-content::before {
  content: '';
  width: 35%;
  display: block;
  border-bottom: 3px solid #E31F00;
  margin: auto;
  padding-top: 100px;
  margin-top: 80px;
}

/*Tutup First Content */
/*Second content */
#secondcontent {
  background-color: #ABABAB;
}

#secondcontent .col-pict img {
  margin-top: -120px;
  margin-left: 200px;
  width: 200px;
  height: 250px;
}

#secondcontent .col-pict-2 img {
  padding: 40px;
  margin-top: 40px;
  height: 300px;
  width: 280px;
  margin-left: -295px;
}

#secondcontent .col-pict-3 img {
  margin-top: 0px;
  width: 300px;
  height: 200px;
  margin-left: 150px;
}

#secondcontent .container .row .caption {
  margin-top: 150px;
}

#secondcontent .container .row .caption h2 {
  font-family: 'Playfair Display', serif;
  padding-bottom: 10px;
  color: black;
}

/*Close second content */
/*Third Content */
.third-content {
  width: auto;
  text-align: justify;
  margin-top: 40px;
}

.third-content .col {
  position: relative;
}

.third-content h2 {
  color: #513A3A;
  padding-bottom: 10px;
}

.third-content p {
  color: #513A3A;
  font-size: 13px;
}

.third-content button {
  position: absolute;
  font-size: 12px;
  padding: 8px;
  top: 50%;
  left: 50%;
  margin: 0;
  width: 90px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/*Close Third Content */
/* Footer */
.footer {
  background-color: #61605F;
  color: white;
}

.footer .col-sm {
  margin-top: 50px;
  text-align: justify;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 20px;
}

.footer h3 {
  padding-bottom: 20px;
}

.footer iframe {
  width: 320px;
  height: 250px;
}

.footer .col {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: justify;
}

/* Tutup Footer */
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  -webkit-box-shadow: 2px 2px 3px #999;
          box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}

/* Desktop Version */
@media (min-width: 992px) {
  /*Navbar*/
  .navbar-pusat {
    background-color: transparent;
  }
  /*Banner*/
  #carouselExampleIndicators {
    margin-top: -91px;
  }
  #carouselExampleIndicators .carousel-inner .carousel-item .carousel-caption h1, #carouselExampleIndicators .carousel-inner .carousel-item h3 {
    font-size: 50px;
  }
  /*First-content*/
  .first-content .caption {
    width: 80%;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    margin-top: 8%;
  }
  /*Second Content*/
  #secondcontent {
    background-color: #ABABAB;
  }
  #secondcontent .col-pict img {
    margin-top: -120px;
    width: 300px;
    height: 350px;
  }
  #secondcontent .col-pict-2 img {
    padding: 40px;
    margin-top: 50px;
    height: 400px;
    width: 330px;
  }
  #secondcontent .col-pict-3 img {
    margin-top: -80px;
    height: 200px;
    width: 300px;
    margin-left: 220px;
    margin-bottom: 50px;
  }
  #secondcontent .container .row .caption {
    margin-top: 100px;
  }
  #secondcontent .container .row .caption h2 {
    font-family: 'Playfair Display', serif;
    padding-bottom: 10px;
  }
  /*Third Content */
  .third-content {
    width: auto;
    margin-left: 50px;
    text-align: justify;
  }
  .third-content .row {
    margin: 30px;
  }
  .third-content .col {
    position: relative;
  }
  .third-content h2 {
    color: #513A3A;
    padding-bottom: 20px;
  }
  .third-content p {
    color: #513A3A;
    font-size: 13px;
  }
  .third-content button {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  /* Footer */
  .footer {
    background-color: #61605F;
    color: white;
  }
  .footer .col-sm {
    margin-top: 50px;
    text-align: justify;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 20px;
    padding: 30px;
  }
  .footer .col {
    padding: 30px;
  }
  .footer h3 {
    padding-bottom: 20px;
  }
  .footer iframe {
    text-align: center;
    margin-top: 30px;
    width: 300px;
    height: 200px;
  }
  /* Tutup Footer */
}
/*# sourceMappingURL=main.css.map */